<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#db0000" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="favicon.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="manifest" href="manifest.json">
  <title>Restaurantku</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Skip to content</a>
  <app-bar></app-bar>
  <main id="mainContent"></main>
  <custom-footer></custom-footer>
</body>

</html>